.login-container, 
.register-container {
    min-height: 100dvh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--primary-color);
    background-image: url('login-background.png');
    background-size:cover;
    background-position: center;
    background-repeat:no-repeat;
    background-clip: border-box;
    color: black;
  }
  
  .glass-card {
    padding: 20px;
    text-align: center;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 5px var(--accent-color); 
    margin: 10px 15px;
    max-width: 700px;
    width: 60%;

  }


.label-input {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin: 20px 0;
}

@keyframes borderShine {
    0% {
        background-position: -100% bottom;
    }

    100% {
        background-position: 100% bottom;
    }
}
.label-input input {
    border: none;
    outline: none;
    background-color: transparent;
    background-image: linear-gradient(90deg, transparent, #818181, transparent);
    color: rgb(0, 0, 0);
    padding-bottom: 5px;
    background-size: 200% 2px;
    background-repeat: no-repeat;
    background-position: -100% bottom;
    animation: borderShine 4s linear forwards;
    padding: 5px 10px;

}
 

.login-container button{
    margin-top: 10px;
}

form {
    margin-bottom: 15px;
}

@media (max-width: 768px) {
    .glass-card {
        width: 90%;
        min-width: 200px;
    }
    
}