.login-container, 
.register-container {
    min-height: 100dvh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('background-login.webp');
    background-size:cover;
    background-position: center;
    background-repeat:no-repeat;
    background-clip: border-box;
    color: white;
  }
  
  .glass-card {
    padding: 20px;
    text-align: center;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.5); 
    margin: 10px 15px;
  }


.label-input {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-bottom: 20px;
}

@keyframes borderShine {
    0% {
        background-position: -100% bottom;
    }

    100% {
        background-position: 100% bottom;
    }
}
.label-input input {
    border: none;
    outline: none;
    background-color: transparent;
    color: white;
    padding-bottom: 5px;

    background-image: linear-gradient(90deg, transparent, white, transparent);
    background-size: 200% 2px;
    background-repeat: no-repeat;
    background-position: -100% bottom;
    animation: borderShine 4s linear forwards;
}
 

.login-container button{
    margin-top: 10px;
}

form {
    margin-bottom: 15px;
}