.title{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 8px;
    margin-bottom: 50px;
}
.hr-container{
  display: flex;
  width: 90%;
  justify-content: center;
  align-items: center;
  gap: 1.2rem;
}

.title hr{
    width: 10rem;
    background-color: var(--accent-color);
    opacity: 1;
    border: none;
    height: 2px;
  }


.title input{
    width: 80%;
    max-width: 600px;
  padding: 7px;
  border: 0;
  border-radius: 20px;
  outline: none;
}

.all-container {
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;
    margin-top: 20px;
}

.recipes-container {
    display: flex;
    flex-wrap: wrap;
    gap: 3rem;
    justify-content: center;
    padding: 0 10px;
    max-width: 1300px;
    margin-bottom: 20px;
  }

  .recipe-card {
    padding: 20px; 
    width: 200px;
    background: var(--secondary-color);
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: relative;
  }
  
  .image-container {
    display: flex;
    justify-content: center;  
    transform: translateY(-40px);
    position: relative;
    width: 150px;
  height: 140px;
  overflow: hidden;
  border-radius: 15px;
  } 

  .image-container:hover {
    cursor: pointer;
  }

  .image-container img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin-right: 20px;
    transform: scale(1.3); 
    transition: margin-right 0.3s ease-in-out; 
}

.image-container:hover img{
    margin-right: 0;

  }
  .hover-text {
    position: absolute;
    bottom: 10px; 
    left: -100px;
    background-color: rgb(214, 156, 143, 0.6);
    color: white;
    padding: 5px 10px;
    font-size: 14px;
    font-weight: bold;
    border-radius: 8px;
    opacity: 1;
    transition: opacity 0.3s ease, left 0.3s ease; 
}

.image-container:hover .hover-text {
    opacity: 1; 
    left: -5px;
  }
 
  .recipe-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    height: calc(100% - 140px);
  }

.start-btn{
  border: 0;
  background-color: var(--accent-color);
  color: var(--secondary-color);
  border-radius: 20px;
  padding: 5px;
  opacity: 0.8; 
  transition: .1s all ease-in;
}

.start-btn:hover {
    opacity: 1;
}

.pay-btn {
    margin-top: 40px;
}
  
.pay-login {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 40px;
}