* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "monospace";
}

body {
  overflow-x: hidden !important;
  overflow-y: auto !important;
}

html {
  overscroll-behavior: none;
}

:root {
  --primary-color:#9bb9a0;
  --secondary-color: white;
  --text-color: black;
  --accent-color: #d69c8f;
  --accent-two-color: #5E3D50;
  --gradient-start: #9bb9a0; 
  --gradient-end: #f0f5f1;
}

