@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Urbanist", sans-serif;
}

body {
  overflow-x: hidden !important;
  overflow-y: hidden !important;
}

html {
  overscroll-behavior: none;
}

:root {
  --primary-color:#eefde8;
  --secondary-color: #f97e6d;
  --text-color: black;
  --accent-color: #EDD551;
  --accent-two-color: #5E3D50;
  --gradient-start: #9bb9a0; 
  --gradient-end: #f0f5f1;
}

