@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  
}

body {
  overflow-x: hidden;
  font-family: "Urbanist", sans-serif;
  font-weight: 600 !important;
}

html {
  overscroll-behavior: none;
}

:root {
  --primary-color:#eefde8;
  --secondary-color: #f97e6d;
  --text-color: black;
  --accent-color: #EDD551;
  --accent-two-color: #5E3D50;
}

