.layout-container {
    min-height: 100dvh;
    min-width: 100dvw;
    background: var(--primary-color)
  }

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 50px;
    padding: 40px;
  }

  nav .hamburger-icon {
    display: none;
  }

  .nav-wrapper {
    display: flex;
    gap: 20px;
  }
  
  nav img {
    height: 1.5rem;
    object-fit: contain;
    transform: translateY(-4px);
  }
  
  nav ul {
    display: flex;
    align-items: center;
    gap: 20px;
    margin: 0;
    padding: 0;
  }
  
  nav ul a{
    color: var(--text-color);
    text-decoration: none;
    position: relative;
  }
  
  nav ul a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -3px;
    width: 0;
    height: 1.5px;
    background-color: var(--text-color);
    transition: all 0.3s ease-in-out;
  
  }
  
  nav ul a:hover::after,
  nav ul a.active::after { 
    width: 80%;
    left: 0;
    cursor: pointer;
  }
  
  nav ul a.active::after {
    background-color: var(--accent-color);
  }

  .login::after {
    height: 0;
  }

  .account-loading {
    min-height: 100dvh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;
    color: var(--accent-two-color);
    background-color: var(--primary-color);
}

.loading-icon {
    animation: spin 1s linear infinite;
    filter: drop-shadow(0 2px 4px rgba(0, 0, 0, 0.1));
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
  
  .divider {
    padding: 10px;
    display: flex;
    letter-spacing: 2px;
    align-items: center;
    justify-content: center;
    gap: 5px;
    flex-wrap: wrap;
    text-align: center;
  }
  
  .divider-icon {
    animation: bounce 1.5s infinite ease-in-out;
  }
  
  .divider svg {
    color: var(--accent-color);
  }

  @keyframes bounce {
    0%, 100% {
      transform: translateY(-2px);
    }
    50% {
      transform: translateY(2px);
    }
  }

  .dropdown-toggle {
    background-color: var(--primary-color) !important;
    border: none !important;
  }


@media(max-width: 768px){
  nav .hamburger-icon {
    display: block;
  }

  .nav-wrapper{
    display: none;
  }
  nav {
    justify-content: space-between;
    gap: 20px;
    padding: 20px 15px;
  }

  .offcanvas{
    height: fit-content !important;
    padding: 20px;
  }

  .offcanvas-body {
    background-color: var(--secondary-color);
    border-top: var(--accent-color) 1px solid;
  }

  .offcanvas-body ul {
    flex-direction: column;
    align-items: flex-start;
    list-style: none;
  }
}