.add-recipe {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    padding: 10px;
    margin: 0;
}

.inputs {
    display: flex;
    gap: 5px;
}

.add-recipe input {
    padding: 5px;
    outline: none;
}

.paid {
    display: flex;
    gap: 10px;
}

.paid input {
    width: 20px;
    height: 20px;
    background-color: #ddd;
    border-radius: 5px;
    cursor: pointer;
}
